* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-container .logo {
  width: 20%;
  color: blue;
  cursor: pointer;
}

.logo h1 {
  font-weight: bolder;
  font-size: 30px;
}

.nav-links-container {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container .nav-link-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link-container .link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: 25%;
  cursor: pointer;
}

.link-container p {
  font-size: 18px;
}

.link-container:hover p {
  font-weight: bold;
}

.user-container-section {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user-container-section .user-status {
  font-size: 20px;
  font-weight: bold;
  color: green;
  width: fit-content;
}

.user-container-section .user-status-btn {
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
.user-container-section button {
  background-color: black;
  cursor: pointer;
  padding: 10px 15px;
}
